# Add any directories, files, or patterns you don't want to be tracked by version control
*.lock
*.tmp
*.swp
*.zip
*.gz
*.tgz
*.7z
*.backup
*.bak
*.pem
*.p12
*.cert
*.crt
*.pub
**/.kitchen/
**/.terraform/
.DS_Store
.AppleDB
.AppleDesktop
.AppleDouble
.Trashes
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
**/tmp/
Jenkinsfile.renewtokennp
